core/org.eclipse.edt.compiler/schema/egldd.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:egl="http://www.ibm.com/xmlns/egl/deployment/7.0" ecore:documentRoot="EGLDeploymentRoot" ecore:nsPrefix="egl" ecore:package="org.eclipse.edt.compiler.internal.deployment" targetNamespace="http://www.ibm.com/xmlns/egl/deployment/7.0">

    <element name="deployment" type="egl:Deployment"/>
    <complexType name="Deployment">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="bindings" type="egl:Bindings"/>
            <element maxOccurs="1" minOccurs="0" name="protocols" type="egl:Protocols"/>
            <element maxOccurs="1" minOccurs="0" name="webservices" type="egl:Webservices"/>
            <element maxOccurs="1" minOccurs="0" name="restservices" type="egl:Restservices"/>
            <element maxOccurs="1" minOccurs="0" name="ruiapplication" type="egl:RUIApplication"/>
			<element maxOccurs="1" minOccurs="0" name="resource-omissions" type="egl:ResourceOmissions"/>
            <element maxOccurs="1" minOccurs="0" ref="egl:target"/>
            <element maxOccurs="unbounded" minOccurs="0" name="include" type="egl:Include"/>
            <element maxOccurs="unbounded" minOccurs="0" ref="egl:deploy-ext"/>
        </sequence>
        <attribute name="alias" type="NCName" use="optional"/>
    </complexType>

    <element abstract="true" name="deploy-ext" type="egl:Deploy-Ext"/>
    <complexType name="Deploy-Ext"/>

	<complexType name="Bindings">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="eglBinding" type="egl:EGLBinding" />
			<element maxOccurs="unbounded" minOccurs="0" name="webBinding" type="egl:WebBinding" />
			<element maxOccurs="unbounded" minOccurs="0" name="nativeBinding" type="egl:NativeBinding" />
			<element maxOccurs="unbounded" minOccurs="0" name="restBinding" type="egl:RestBinding" />
		</sequence>
	</complexType>

	<complexType name="WebBinding">
		<sequence />
		<attribute name="name" type="NCName" use="required" />
		<attribute name="interface" type="NCName" use="required" />
		<attribute name="wsdlLocation" type="anyURI" use="required" />
		<attribute name="wsdlPort" type="anyURI" use="required" />
		<attribute name="wsdlService" type="anyURI" use="optional" />
		<attribute name="uri" type="anyURI" use="optional" />
		<attribute name="enableGeneration" type="boolean" />
		<attribute name="soapVersion" type="egl:SOAPVersionType" use="optional" />
	</complexType>

	<complexType name="EGLBinding">
        <sequence>
           <element maxOccurs="1" minOccurs="1" ref="egl:protocol"/>
        </sequence>
        <attribute name="name" type="NCName" use="required"/>
        <attribute name="serviceName" type="NCName" use="optional"/>
        <attribute name="alias" type="NCName" use="optional"/>
    </complexType>

    <complexType name="NativeBinding">
        <sequence>
           <element maxOccurs="1" minOccurs="1" ref="egl:protocol"/>
        </sequence>
        <attribute name="name" type="NCName" use="required"/>
    </complexType>

    <complexType name="RestBinding">
        <sequence/>
        <attribute name="name" type="NCName" use="required"/>
        <attribute name="baseURI" type="anyURI" use="optional"/>
		<attribute name="sessionCookieId" type="string" use="optional"/>
  	    <attribute name="preserveRequestHeaders" type="boolean" use="optional"/>
        <attribute name="enableGeneration" type="boolean"/>
    </complexType>

    <complexType name="Protocols">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" ref="egl:protocol"/>
		</sequence>
	</complexType>

	<element abstract="true" name="protocol" type="egl:Protocol"/>
	<complexType name="Protocol">
	   <sequence/>
	   <attribute name="name" type="NCName" use="optional"/>
	</complexType>

	<element name="protocol.ref" substitutionGroup="egl:protocol" type="egl:ReferenceProtocol"/>
	<complexType name="ReferenceProtocol">
	  <complexContent>
	  	<extension base="egl:Protocol">
		  <attribute name="ref" type="NCName" use="optional"/>
	 	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.system-i.local" substitutionGroup="egl:protocol" type="egl:System-iProtocol"/>
	<complexType name="System-iProtocol">
	  <complexContent>
	  	<extension base="egl:Protocol">
	  	  <attribute name="library" type="string" use="optional"/>
	  	  <attribute name="binddir" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.local" substitutionGroup="egl:protocol" type="egl:LocalProtocol"/>
	<complexType name="LocalProtocol">
	  <complexContent>
	  	<extension base="egl:Protocol">
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.cicseci" substitutionGroup="egl:protocol" type="egl:CICSECIProtocol"/>
	<complexType name="CICSECIProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="conversionTable" type="string" use="optional"/>
		  <attribute name="ctgLocation" type="string" use="optional"/>
	      <attribute name="ctgPort" type="string" use="optional"/>
	      <attribute name="location" type="string" use="optional"/>
	      <attribute name="serverID" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.cicsssl" substitutionGroup="egl:protocol" type="egl:CICSSSLProtocol"/>
	<complexType name="CICSSSLProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="conversionTable" type="string" use="optional"/>
		  <attribute name="ctgLocation" type="string" use="optional"/>
	      <attribute name="ctgPort" type="string" use="optional"/>
	      <attribute name="ctgKeyStore" type="string" use="optional"/>
		  <attribute name="ctgKeyStorePassword" type="string" use="optional"/>
	      <attribute name="location" type="string" use="optional"/>
	      <attribute name="serverID" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.cicsj2c" substitutionGroup="egl:protocol" type="egl:CICSJ2CProtocol"/>
	<complexType name="CICSJ2CProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="conversionTable" type="string" use="optional"/>
	      <attribute name="location" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.imsj2c" substitutionGroup="egl:protocol" type="egl:IMSJ2CProtocol"/>
	<complexType name="IMSJ2CProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="attribute1" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.imstcp" substitutionGroup="egl:protocol" type="egl:IMSTCPProtocol"/>
	<complexType name="IMSTCPProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="attribute1" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>


	<element name="protocol.cicsws" substitutionGroup="egl:protocol" type="egl:CICSWSProtocol"/>
	<complexType name="CICSWSProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="transaction" type="string" use="optional"/>
    	  <attribute name="userID" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>


	<element name="protocol.java400" substitutionGroup="egl:protocol" type="egl:Java400Protocol"/>
	<complexType name="Java400Protocol">
	  <complexContent>
	    <extension base="egl:Protocol">
		  <attribute name="conversionTable" type="string" use="optional"/>
	      <attribute name="location" type="string" use="optional"/>
          <attribute name="userID" type="string" use="optional"/>
		  <attribute name="password" type="string" use="optional"/>
		  <attribute name="library" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<element name="protocol.java400j2c" substitutionGroup="egl:protocol" type="egl:Java400J2cProtocol"/>
	<complexType name="Java400J2cProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">	  	  
		  <attribute name="conversionTable" type="string" use="optional"/>
	      <attribute name="location" type="string" use="optional"/>
          <attribute name="userID" type="string" use="optional"/>
		  <attribute name="password" type="string" use="optional"/>	 
		  <attribute name="libraries" type="string" use="optional"/>     
		  <attribute name="currentLibrary" type="string" use="optional"/>     
	  	</extension>
      </complexContent>	  	        	      	      	      
	</complexType>



	<element name="protocol.tcpip" substitutionGroup="egl:protocol" type="egl:TCPIPProtocol"/>
	<complexType name="TCPIPProtocol">
	  <complexContent>
	    <extension base="egl:Protocol">
	      <attribute name="location" type="string" use="optional"/>
	      <attribute name="serverID" type="string" use="optional"/>
	  	</extension>
      </complexContent>
	</complexType>

	<complexType name="Webservices">
		<sequence>
	  		<element maxOccurs="unbounded" minOccurs="0" name="webservice" type="egl:Webservice"/>
		</sequence>
	</complexType>

	<complexType name="Restservices">
		<sequence>
	  		<element maxOccurs="unbounded" minOccurs="0" name="restservice" type="egl:Restservice"/>
		</sequence>
	</complexType>

	<complexType name="Webservice">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="parameters" type="egl:Parameters" />
		</sequence>
		<attribute name="implementation" type="NCName" />
		<attribute default="document-wrapped" name="style" type="egl:StyleTypes" use="optional" />
		<attribute name="protocol" type="NCName" />
		<attribute name="transaction" type="string" />
		<attribute name="userID" type="string" />
		<attribute name="uri" type="string" />
		<attribute default="true" name="enableGeneration" type="boolean" />
		<attribute name="useExistingWSDL" type="boolean" />
		<attribute name="wsdlLocation" type="anyURI" use="required" />
		<attribute name="wsdlPort" type="anyURI" use="required" />
		<attribute name="wsdlService" type="anyURI" use="optional" />
		<attribute name="implType" type="int" use="optional" />
		<attribute name="soapVersion" type="egl:SOAPVersionType" use="optional" />
	</complexType>

	<complexType name="Restservice">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="parameters" type="egl:Parameters"/>
		</sequence>
		<attribute default="true" name="enableGeneration" type="boolean"/>
		<attribute name="implementation" type="NCName"/>
		<attribute name="uri" type="string"/>
		<attribute name="stateful" type="boolean" default="false"/>
        <attribute name="protocol" type="NCName"/>
        <attribute name="implType" type="int" use="optional"/>
	</complexType>

	<complexType name="RUIApplication">
        <sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="ruihandler" type="egl:RUIHandler"/>
			<element maxOccurs="1" minOccurs="0" name="resource-omissions" type="egl:RUIResourceOmissions"/>
			<element maxOccurs="1" minOccurs="0" name="parameters" type="egl:Parameters"/>
        </sequence>
		<attribute default="true" name="deployAllHandlers" type="boolean"/>
	</complexType>
	
	<complexType name="RUIHandler">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="parameters" type="egl:Parameters"/>
		</sequence>
		<attribute name="implementation" type="NCName" use="required"/>
		<attribute default="true" name="enableGeneration" type="boolean"/>
	</complexType>
	
	<complexType name="RUIResourceOmissions">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="resource" type="egl:RUIResource"/>
		</sequence>
	</complexType>
	
	<complexType name="ResourceOmissions">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="resource" type="egl:Resource"/>
		</sequence>
	</complexType>
	
	<complexType name="RUIResource">
		<sequence/>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	
	<complexType name="Resource">
		<sequence/>
		<attribute name="id" type="string" use="required"/>
	</complexType>
	
	<complexType name="Parameters">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="parameter" type="egl:Parameter"/>
		</sequence>
	</complexType>
	
	<complexType name="Parameter">
		<sequence/>
		<attribute name="name" type="string" use="required"/>
		<attribute name="value" type="string" use="required"/>
	</complexType>
	
	<element abstract="true" name="target" type="egl:DeploymentTarget"/>
	<complexType name="DeploymentTarget">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="parameters" type="egl:Parameters"/>
		</sequence>
		<attribute name="name" type="string" use="optional" default=""/>
	</complexType>
	
	<element name="target.project" substitutionGroup="egl:target" type="egl:DeploymentProject"/>
	<complexType name="DeploymentProject">
		<complexContent>
		    <extension base="egl:DeploymentTarget">
		    </extension>
		</complexContent>
	</complexType>
	
	<element name="target.buildDescriptor" substitutionGroup="egl:target" type="egl:DeploymentBuildDescriptor"/>
	<complexType name="DeploymentBuildDescriptor">
		<complexContent>
		    <extension base="egl:DeploymentTarget">
			 	<sequence/>
				<attribute name="fileName" type="string" use="required"/>
		    </extension>
		</complexContent>
	</complexType>
	
	<simpleType name="StyleTypes">
        <restriction base="string">
        	<enumeration value="document-wrapped"/>
            <enumeration value="rpc"/>

        </restriction>
	</simpleType>

	<complexType name="Include">
	 	<sequence/>
	 	<attribute name="location" type="anyURI"/>
	</complexType>



	<simpleType name="SOAPVersionType">
		<restriction base="string">
			<enumeration value="SOAP-1.1"></enumeration>
			<enumeration value="SOAP-1.2"></enumeration>
		</restriction>
	</simpleType>
</schema>
