core/org.eclipse.edt.compiler/dtd/egl_6_0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--                                            -->
<!--                                            -->
<!--                                            -->
<!--                                            -->
<!--  These are common groupings of attributes  -->
<!--  that are substituted in multiple places.  -->
<!--                                            -->
<!--                                            -->
<!ENTITY % dash "-">
<!--a list of all of the parts that can be nested within other parts-->
<!ENTITY % nestedparts "BindControl | LinkEdit | BuildDescriptor | ResourceAssociations | LinkageOptions">
<!ENTITY % nameandtype "name CDATA #REQUIRED
typeDef CDATA #IMPLIED
">
<!ENTITY % filetypes "gsam | mmsgq | smsgq | vsam | vsamrs | seq | seqrs | seqws | tempmain | tempaux | transient | spool | mq | ibmcobol | default">
<!--                                            -->
<!--                                            -->
<!--  The interesting stuff starts here.        -->
<!--                                            -->
<!--                                            -->
<!ELEMENT EGL (description?, import*, (%nestedparts;)*)>
<!--Description is the prolog or description of a part-->
<!ELEMENT description (#PCDATA)>
<!ATTLIST description
        xml:space (default | preserve) "preserve"
>
<!--The import element names other files to be searched when resolving references to EGL parts. -->
<!ELEMENT import EMPTY>
<!ATTLIST import
        file CDATA #REQUIRED
>

<!ELEMENT BindControl (description?, text?)>
<!ATTLIST BindControl
        name CDATA #REQUIRED
>
<!ELEMENT LinkEdit (description?, text?)>
<!ATTLIST LinkEdit
        name CDATA #REQUIRED
>
<!ELEMENT text (#PCDATA)>
<!ATTLIST text
        xml:space (default | preserve) "preserve"
>
<!-- WEBSPHEREV6.0 is tolerated, but not in the editor.  PPR converts it to 6.X  -->
<!-- CICS3.X is tolerated, but not in the editor.  PPR converts it to 3.X -->
<!-- serviceRuntime is tolerated, but not in the editor.  Generation ignores it -->
<!-- webServiceEncodingStyle is tolerated, but not in the editor.  Generation ignores it -->
<!ELEMENT BuildDescriptor (description?, symbolicParameter*, database*, dateMask*, mfsDevice*)>
<!ATTLIST BuildDescriptor
name CDATA #REQUIRED
bidiConversionTable CDATA #IMPLIED
bidiRuntime CDATA #IMPLIED	
bind CDATA #IMPLIED
blanksAsZero  (YES | NO) #IMPLIED
buildPlan (YES | NO) #IMPLIED
birtEngineHome CDATA #IMPLIED
cachePreparedStatements (YES | NO) #IMPLIED
cancelAfterTransfer (YES | NO) #IMPLIED
checkIndices (YES | NO) #IMPLIED
checkNumericOverflow (YES | NO) #IMPLIED
checkToTransaction (YES | NO) #IMPLIED
checkType (NONE | LOW | ALL) #IMPLIED
cicsEntries (NONE | RDO | MACRO) #IMPLIED
cicsj2cTimeout CDATA #IMPLIED
clientCodeSet CDATA #IMPLIED
commentLevel (0 | 1) #IMPLIED
currencyLocation (NONE | FRONT | BACK) #IMPLIED
currencySymbol CDATA #IMPLIED
data (24 | 31) #IMPLIED
dbContentSeparator CDATA #IMPLIED
dbms (CLOUDSCAPE | DB2 | DERBY | INFORMIX | ORACLE | SQLSERVER | TERADATA) #IMPLIED
debugLocalDateFormat CDATA #IMPLIED
debugTrace (YES | NO) #IMPLIED
decimalSymbol CDATA #IMPLIED
defaultDateFormat CDATA #IMPLIED
defaultMoneyFormat CDATA #IMPLIED
defaultNumericFormat CDATA #IMPLIED
defaultServiceTimeout CDATA #IMPLIED
defaultSessionCookieID CDATA #IMPLIED
defaultTimeFormat CDATA #IMPLIED
defaultTimeStampFormat CDATA #IMPLIED  
deploymentDescriptor CDATA #IMPLIED
destDirectory CDATA #IMPLIED
destHost CDATA #IMPLIED
destLibrary CDATA #IMPLIED
destPassword CDATA #IMPLIED
destPort CDATA #IMPLIED
destUserID CDATA #IMPLIED
enableJavaWrapperGen (YES | NO | ONLY) #IMPLIED
endCommarea (YES | NO) #IMPLIED
eliminateSystemDependentCode (YES | NO) #IMPLIED
errorDestination CDATA #IMPLIED
fillWithNulls (YES | NO) #IMPLIED
formServicePgmType CDATA #IMPLIED
genDataTables (YES | NO) #IMPLIED
genDDSFile (YES | NO) #IMPLIED
genDirectory CDATA #IMPLIED
genFormGroup (YES | NO) #IMPLIED
genHelpFormGroup (YES | NO) #IMPLIED
genProject CDATA #IMPLIED
genProperties (GLOBAL | NO | PROGRAM) #IMPLIED
genReturnImmediate (YES | NO) #IMPLIED
genResourceBundle (YES | NO) #IMPLIED
genRunFile (YES | NO) #IMPLIED
genVGUIRecords (YES | NO) #IMPLIED
imsFastPath (YES | NO) #IMPLIED
imsID CDATA #IMPLIED
imsLogID CDATA #IMPLIED
imsPSB CDATA #IMPLIED
includeLineNumbers (YES | NO) #IMPLIED
itemsNullable (YES | NO) #IMPLIED
initNonIOData (YES | NO) #IMPLIED
initIORecords (YES | NO) #IMPLIED
initIORecordsOnCall (YES | NO) #IMPLIED
initNonIODataOnCall (YES | NO) #IMPLIED
J2EE (YES | NO) #IMPLIED
j2eeLevel (1.3 | 1.4 | 5.0) #IMPLIED
leftAlign (YES | NO) #IMPLIED
linkage CDATA #IMPLIED
linkEdit CDATA #IMPLIED
math (COBOL | CSPAE) #IMPLIED
mfsExtendedAttr (YES | NO | NCD) #IMPLIED
mfsIgnore (YES | NO) #IMPLIED
mfsUseTestLibrary (YES | NO) #IMPLIED
msgTablePrefix CDATA #IMPLIED
maxNumericDigits (18 | 31) #IMPLIED
nextBuildDescriptor CDATA #IMPLIED
oneFormItemCopybook (YES | NO) #IMPLIED
positiveSignIndicator (F | C | F-ALL | C-ALL) #IMPLIED
prep (YES | NO) #IMPLIED
prepareAllSQLStatements (YES | NO) #IMPLIED
printDestination (PROGRAMCONTROLLED | TERMINALID) #IMPLIED
programPackageName CDATA #IMPLIED
projectID CDATA #IMPLIED
reservedWord CDATA #IMPLIED
resourceAssociations CDATA #IMPLIED
resourceBundleLocale CDATA #IMPLIED
restartTransactionID CDATA #IMPLIED
restoreCurrentMsgOnError (YES | NO) #IMPLIED
returnTransaction CDATA #IMPLIED
secondaryTargetBuildDescriptor CDATA #IMPLIED
separatorSymbol CDATA #IMPLIED
serverCodeSet CDATA #IMPLIED
serverType (WEBSPHEREV6.0 | WEBSPHERE6.X | WEBSPHERE7.X | TOMCAT5.X | TOMCAT6.X | CICS3.1 | CICS3.X) #IMPLIED
serviceRuntime (EGL | WEBSPHERE) #IMPLIED
sessionBeanID CDATA #IMPLIED
setFormItemFull (YES | NO) #IMPLIED
spaADF (YES | NO) #IMPLIED
spaStatusBytePosition CDATA #IMPLIED
spaSize CDATA #IMPLIED
spacesZero (YES | NO) #IMPLIED
sqlCommitControl (AUTOCOMMIT | NOAUTOCOMMIT | NOCOMMIT) #IMPLIED
sqlDB CDATA #IMPLIED
sqlErrorTrace (YES | NO) #IMPLIED
sqlID CDATA #IMPLIED
sqlIOTrace (YES | NO) #IMPLIED
sqlJDBCDriverClass CDATA #IMPLIED
sqlJNDIName CDATA #IMPLIED
sqlPassword CDATA #IMPLIED
sqlSchema CDATA #IMPLIED
sqlValidationConnectionURL CDATA #IMPLIED
startTransactionID CDATA #IMPLIED
statementTrace (YES | NO) #IMPLIED
storeJsfRecordAsBytes (YES | NO) #IMPLIED
synchOnPgmTransfer (YES | NO) #IMPLIED
synchOnTrxTransfer (YES | NO) #IMPLIED
sysCodes (YES | NO) #IMPLIED
system (ZOSCICS | WIN | USS | ISERIESJ | ZOSBATCH | AIX | LINUX | ISERIESC | VSEBATCH | VSECICS | HPUX | SOLARIS | IMSBMP | IMSVS | JAVASCRIPT | ZLINUX) #IMPLIED
targetNLS (ARA | CHS | CHT | DEU | ENU | ESP | FRA | ITA | JPN | KOR | PTB | CZE | HUN | PLK | RUS) #IMPLIED
tempDirectory CDATA #IMPLIED
templateDir CDATA #IMPLIED
transferErrorTransaction CDATA #IMPLIED
truncateExtraDecimals (YES | NO) #IMPLIED
twaOffset CDATA #IMPLIED
useCurrentSchema (YES | NO) #IMPLIED
useXctlForTransfer (YES | NO) #IMPLIED
userMessageFile CDATA #IMPLIED
validateMixedItems (YES | NO) #IMPLIED
validateOnlyIfModified (YES | NO) #IMPLIED
validateSQLStatements (YES | NO) #IMPLIED
vagCompatibility (YES | NO) #IMPLIED
v60DecimalBehavior  (YES | NO) #IMPLIED
v60NumWithCharBehavior  (YES | NO) #IMPLIED
v60SQLNullableBehavior  (YES | NO) #IMPLIED
vseLibrary CDATA #IMPLIED
webServiceEncodingStyle (RPC-LITERAL | DOCUMENT-LITERAL) #IMPLIED
workDBType (AUX | MAIN | DLI | SQL) #IMPLIED
wrapperCompatibility (CURRENT | V6 | V5 | V4) #IMPLIED
wrapperJNDIPrefix CDATA #IMPLIED
wrapperPackageName CDATA #IMPLIED
>
<!ELEMENT symbolicParameter (symbolicValue)>
<!ATTLIST symbolicParameter
        name CDATA #REQUIRED
>
<!ELEMENT symbolicValue (#PCDATA)>

<!ELEMENT LinkageOptions (description?, callLink?, fileLink?, asynchLink?, transferToProgram*, transferToTransaction*)>
<!ATTLIST LinkageOptions
        name CDATA #REQUIRED
>
<!ELEMENT database EMPTY>
<!ATTLIST database
        serverName CDATA #REQUIRED
        databaseName CDATA #REQUIRED>
<!ELEMENT dateMask EMPTY>
<!ATTLIST dateMask
        nls (CHS | CHT | DEU | ENU | ESP | FRA | ITA | JPN | KOR | PTB) #REQUIRED
        longGregorianMask CDATA #IMPLIED
        longJulianMask CDATA #IMPLIED
        shortGregorianMask CDATA #IMPLIED
        shortJulianMask CDATA #IMPLIED
>
<!ELEMENT mfsDevice EMPTY>
<!ATTLIST mfsDevice
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        devStmtParms CDATA #IMPLIED
        extendedAttributes (YES | NO | NCD) #IMPLIED
>
<!ELEMENT asynchLink (localAsynch | remoteAsynch)*>
<!ELEMENT localAsynch EMPTY>
<!ATTLIST localAsynch
        package CDATA #IMPLIED
        recordName CDATA #REQUIRED
>
<!ELEMENT remoteAsynch EMPTY>
<!ATTLIST remoteAsynch
        conversionTable CDATA #IMPLIED
        locationSpec (CICS | PROGRAMCONTROLLED) #IMPLIED
        package CDATA #IMPLIED
        recordName CDATA #REQUIRED
>
<!ELEMENT transferToProgram EMPTY>
<!ATTLIST transferToProgram
        fromPgm CDATA #REQUIRED
        toPgm CDATA #REQUIRED
        alias CDATA #IMPLIED
        packageName CDATA #IMPLIED
        linkType (DYNAMIC | STATIC | EXTERNALLYDEFINED) #IMPLIED
>
<!ELEMENT transferToTransaction EMPTY>
<!ATTLIST transferToTransaction
        toPgm CDATA #REQUIRED
        alias CDATA #IMPLIED
        packageName CDATA #IMPLIED
        externallyDefined ( YES | NO ) #IMPLIED
>
<!ELEMENT callLink (localCall | remoteCall | ejbCall)*>
<!ELEMENT localCall EMPTY>
<!ATTLIST localCall
        alias CDATA #IMPLIED
        bindDir CDATA #IMPLIED
        linkType (DYNAMIC | STATIC | CICSLINK | PROCEDURE) #IMPLIED
        parmForm (OSLINK | COMMPTR | COMMDATA | CICSOSLINK | CHANNEL) #IMPLIED
        package CDATA #IMPLIED
        pgmName CDATA #REQUIRED
        pgmType (EGL | EXTERNALLYDEFINED) #IMPLIED
        refreshScreen ( YES | NO ) #IMPLIED
>
<!ELEMENT remoteCall EMPTY>
<!-- location and server id are required if remoteComType is tcpip -->
<!-- luwControl makes sense only if remoteComType is cicsj2c, and ??? we have to
     make sure the J2C connector supports extended unit of work               -->
<!--  channelName is deprecated since RBD751 -->   
<!ATTLIST remoteCall
        channelName CDATA #IMPLIED
        conversionTable CDATA #IMPLIED
        ctgKeyStore CDATA #IMPLIED
        ctgKeyStorePassword CDATA #IMPLIED
        ctgLocation CDATA #IMPLIED
        ctgPort CDATA #IMPLIED
        alias CDATA #IMPLIED
        javaWrapper ( YES | NO ) #IMPLIED
        library CDATA #IMPLIED
        location CDATA #IMPLIED
        luwControl (CLIENT | SERVER) #IMPLIED
        package CDATA #IMPLIED
        parmForm (OSLINK | COMMPTR | COMMDATA | CICSOSLINK | CHANNEL) #IMPLIED
        pgmName CDATA #REQUIRED
        refreshScreen ( YES | NO ) #IMPLIED        
        remotePgmType (EGL | EXTERNALLYDEFINED | STATEFUL | STATELESS) #IMPLIED
        remoteBind (GENERATION | RUNTIME) #IMPLIED
        remoteComType (CICSECI | CICSEXCI |CICSJ2C  | CICSSSL | DEBUG | DIRECT | JAVA400 | JAVA400SRVPGM | TCPIP | DISTINCT | IMSJ2C | IMSTCP | JAVA400J2C | STOREDPROCEDURE) #IMPLIED
        returnType (INTEGER | VOID) #IMPLIED
        serverID CDATA #IMPLIED
        storedProcedure CDATA #IMPLIED
>
<!ELEMENT ejbCall EMPTY>
<!-- location and server id are required if remoteComType is tcpip -->
<!-- luwControl makes sense only if remoteComType is cicsj2c, and ??? we have to
     make sure the J2C connector supports extended unit of work               -->
<!-- luwControl is not supported for session bean calls.  -->
<!ATTLIST ejbCall
        conversionTable CDATA #IMPLIED
        ctgKeyStore CDATA #IMPLIED
        ctgKeyStorePassword CDATA #IMPLIED
        ctgLocation CDATA #IMPLIED
        ctgPort CDATA #IMPLIED
        alias CDATA #IMPLIED
        library CDATA #IMPLIED
        location CDATA #IMPLIED
        package CDATA #IMPLIED
        parmForm (OSLINK | COMMPTR | COMMDATA | CICSOSLINK) #IMPLIED
        pgmName CDATA #REQUIRED
        providerURL CDATA #IMPLIED
        remotePgmType (EGL | EXTERNALLYDEFINED | STATEFUL | STATELESS) #IMPLIED
        remoteBind (GENERATION | RUNTIME) #IMPLIED
        remoteComType (CICSECI | CICSJ2C  | CICSSSL | DEBUG | DIRECT | JAVA400 | JAVA400SRVPGM | TCPIP | DISTINCT | IMSJ2C | IMSTCP | JAVA400J2C | STOREDPROCEDURE) #IMPLIED
        returnType (INTEGER | VOID) #IMPLIED
        serverID CDATA #IMPLIED
>
<!ELEMENT fileLink (localFile | remoteFile)*>
<!ELEMENT localFile EMPTY>
<!ATTLIST localFile
        fileName CDATA #REQUIRED
>
<!ELEMENT remoteFile EMPTY>
<!ATTLIST remoteFile
        fileName CDATA #REQUIRED
        conversionTable CDATA #IMPLIED
        locationSpec (CICS | PROGRAMCONTROLLED) #IMPLIED
>

<!ELEMENT ResourceAssociations (description?, association*)>
<!ATTLIST ResourceAssociations
        name CDATA #REQUIRED
>
<!ELEMENT association (aix | linux | zoscics | zosbatch| win | uss | iseriesj | iseriesc | any | vsebatch | vsecics | hpux | solaris | imsbmp | imsvs | javascript | zlinux)+>
<!ATTLIST association
        fileName CDATA #REQUIRED
>
<!-- The SYSTEM elements supported in R1-->
<!ELEMENT iseriesj (mq | seqws | spool | default)>
<!ELEMENT iseriesc (mq | vsam | seq | spool | default)>

<!ELEMENT zosbatch (gsam | vsam | vsamrs | seq | seqrs | mq | default)>
<!ELEMENT aix (seqws | ibmcobol | spool | mq | default)>
<!ELEMENT linux (seqws | spool | mq | default)>
<!ELEMENT zlinux (seqws | spool | mq | default)>
<!ELEMENT hpux (seqws | spool | mq | default)>
<!ELEMENT solaris (seqws | spool | mq | default)>
<!ELEMENT imsbmp (gsam | mmsgq | mq | seq | seqrs | smsgq | vsam | vsamrs | default)>
<!ELEMENT imsvs (mmsgq | mq | smsgq | default)>

<!ELEMENT zoscics (vsam | tempmain | tempaux | transient | spool | mq | default)>
<!-- File types for WIN in R1 are for Java.  -->
<!ELEMENT win (seqws | mq  | ibmcobol | default)>
<!-- File types for USS in R1 are for Java.  -->
<!ELEMENT uss (seqws | mq | default)>
<!ELEMENT vsebatch (vsam | vsamrs | seq | spool | mq | default )>
<!ELEMENT vsecics (vsam | tempmain | tempaux | transient | spool | mq | default)>
<!ELEMENT javascript EMPTY>

<!ELEMENT any (%filetypes;)>
<!-- The FILETYPE elements -->
<!ELEMENT mq EMPTY>
<!ATTLIST mq
        systemName CDATA #IMPLIED
        conversionTable CDATA #IMPLIED
>
<!ELEMENT seq EMPTY>
<!ATTLIST seq
        blockSize CDATA #IMPLIED
        systemNumber CDATA #IMPLIED
        systemName CDATA #IMPLIED
        commit (YES | NO) "NO"
        standardLabel (YES | NO) "YES"
>
<!ELEMENT seqrs EMPTY>
<!ATTLIST seqrs
        systemName CDATA #IMPLIED
>

<!ELEMENT seqws EMPTY>
<!-- The replace and text attributes are applicable only to
     the workstation environments.
     So added separate filetype for workstation sequential files -->
<!ATTLIST seqws
        systemName CDATA #IMPLIED
        replace (YES | NO) "NO"
        text (YES | NO) "NO"
		formFeedOnClose (YES | NO) "YES"
>
<!ELEMENT ibmcobol EMPTY>
<!ATTLIST ibmcobol
        systemName CDATA #IMPLIED
>
<!ELEMENT spool EMPTY>
<!ATTLIST spool
        systemName CDATA #IMPLIED
        commit (YES | NO) "NO"
		formFeedOnClose (YES | NO) "YES"
>
<!ELEMENT tempmain EMPTY>
<!ATTLIST tempmain
        systemName CDATA #IMPLIED
>
<!ELEMENT tempaux EMPTY>
<!ATTLIST tempaux
        systemName CDATA #IMPLIED
>
<!ELEMENT transient EMPTY>
<!ATTLIST transient
        systemName CDATA #IMPLIED
>
<!ELEMENT vsam EMPTY>
<!ATTLIST vsam
        systemName CDATA #IMPLIED
        duplicates (YES | NO) "NO"
        commit (YES | NO) "NO"
>
<!ELEMENT vsamrs EMPTY>
<!ATTLIST vsamrs
        systemName CDATA #IMPLIED
>
<!ELEMENT gsam EMPTY>
<!ATTLIST gsam
        pcbName CDATA #IMPLIED
        systemName CDATA #IMPLIED
>
<!ELEMENT mmsgq EMPTY>
<!ATTLIST mmsgq
        pcbName CDATA #IMPLIED
        systemName CDATA #IMPLIED
>
<!ELEMENT smsgq EMPTY>
<!ATTLIST smsgq
        pcbName CDATA #IMPLIED
        systemName CDATA #IMPLIED
>
<!-- The default element is used only when the default filetype for a system and record type is to be used.
     As a result, it must include all possible attributes for filetypes that may be the default for a
     record type within a system. For R1 these are vsam, seq, transient, and spool. -->
<!ELEMENT default EMPTY>
<!ATTLIST default
        conversionTable CDATA #IMPLIED
        duplicates (YES | NO) "NO"
        commit (YES | NO) "NO"
        formFeedOnClose (YES | NO) "YES"
        systemName CDATA #IMPLIED
        replace (YES | NO) "NO"
        text (YES | NO) "NO"
        blockSize CDATA #IMPLIED
        systemNumber CDATA #IMPLIED
        standardLabel (YES | NO) "YES"
        pcbName CDATA #IMPLIED
>
