tests/org.eclipse.edt.tests.services/thirdparty.soap/Fedwire/EGLSource/wsdl/FedWire.xsd

<?xml version="1.0" encoding="utf-8"?>
    <s:schema elementFormDefault="qualified" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.webservicex.net/" targetNamespace="http://www.webservicex.net/">
      <s:element name="GetParticipantsByRoutingNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByRoutingNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByRoutingNumberResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FedWireList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FedWires" type="tns:ArrayOfFedWireData" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalRecords" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFedWireData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FedWireData" type="tns:FedWireData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FedWireData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RoutingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelegraphicName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FundsTransferStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FundsSettlementOnlyStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookEntrySecuritiesTransferStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfLastRevision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetParticipantsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByNameResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParticipantsByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetParticipantsByLocationResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FedWireLists" type="tns:FedWireList" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
